
.header{
    box-shadow: 0px 0.5px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
}
.headlogo img{
    width:14vw;
}
.headsignin{
    width: 200px;
    background-color: #516CF0;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.headsignin a{
color: white !important;
font-family: Lato,sans-serif !important;
font-weight: 700;
}
.headsignin:hover {
  background-color: #FE8402;
}
.headlogoandlinks{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 20px 0;
}
.headlinks ul{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
    list-style: none;

}
.headlinks ul li a{
    font-family: Lato, sans-serif !important;
    color: #3b455a;
    text-decoration: none;
}
.headlinks ul li a:hover {
    color: #FE8402;
   
}
.fill{
    padding: 10px 0 25px 0;
    color: 62626f;
}

.header a{
    font-family: lato sans-serif;
}


.menuicon {
    cursor: pointer;
    display: none;
}


@media(max-width: 993px) {
    .menuicon{
        display: block;
        color: #FE8402;
        font-size: 20px;
        margin-right: 50px;
    }
.menu-hidden {
            display: none !important;
        }
        
        .menu-visible{
                     flex-direction: column;
                     position: absolute; 
                     top: 80px;
                     left: 0;
                     width: 100%;
                     background-color: #fe8402;
                     transition: transform 0.8s ease-in-out;
                     
                 }
                 .headsigninbutton{
                    margin-bottom: 30px;
                 }
                .headlinks ul li a{
                    color: white;
                }
                 
        
        
                 
           
}

